

{% load static %}
<html>
<head>
<title>Smart Health Prediction System with Data Mining</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["username"].value;
	var y=document.forms["f1"]["password"].value;
	
	if(x == null || x==""){
		window.alert("Username must be enter");
		document.f1.username.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Password must be enter");
		document.f1.password.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Smart Health Prediction System with Data Mining</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
	   <li><a href="{% url 'Admin' %}">Admin</a></li>
		 <li><a href="{% url 'Doctor' %}">Doctor</a></li>
      <li><a href="{% url 'Patients' %}">Patients</a></li>
      <li><a href="{% url 'Register' %}">New Patients Signup Here</a></li>
			
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'AdminLogin' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Admin Login Screen</b></h3>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			 <tr><td><font size="" color="black">Username</b></td><td><input type="text" name="username" style="font-family: Comic Sans MS" size="30"/></td></tr>
         
		  
		<tr><td><font size="" color="black">Password</b></td><td><input type="password" name="password" style="font-family: Comic Sans MS" size="30"/></td></tr>

				 
			<tr><td></td><td><input type="submit" value="Login">
			</td>
			</table>
				</div>	
					
				</div>
				<br/><br/><br/><br/><br/><br/>
				
	</body>
</html>
